.add-usercard-bg-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(3, 29%, 57%);
}

.top-view {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0rem 1.5rem;
}

.add-usercard-container {
    width: 80%;
    background-color: #e6e6e6;
    padding: 1rem;
    overflow: scroll;
}

.add-usercard-location,
.add-usercard-image,
.add-usercard-tags,
.add-usercard-description,
.add-usercard-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.add-usercard-btn {
    padding: 16.5px 14px;
}

.add-usercard-input {
    width: 70%;
}

.add-usercard-image-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
