.swiper-modal-rectangle{
    background-color:#cf83ffb1;
    width: 100%;
    border-radius: 2rem;
    height:25rem;
}

.swiper-modal-inner{
    background-color:white;
    width: 100%;
    border-radius: 2rem 2rem 0rem 0rem;
}

.swiper-modal-activity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-modal-image{
    height: 75%;
    width: 3rem;
}

.swiper-modal-image-main{
    position: relative;
    top: 4.5rem;
    left: 4rem;
    height: 35%;
    width: 50%;
}

.swiper-modal-activity-title{
    font-size: 1rem;
    text-align: left;
    position: relative;
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 3rem;
    right: 6rem;
}

.swiper-modal-activity-title1{
    font-size: 0.8rem;
    text-align: left;
    position: relative;
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
    top: -0.5rem;
    padding-left: 3rem;
    right: 3.5rem;
}

.swiper-modal-description{
    position: relative;
    width: 13rem;
    height:4rem;
    border-radius: 0.75rem;
    border-style: solid;
    border-width: 0.01rem;
    top:1rem;
    left: 1rem;
}

.swiper-modal-main-text{
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    left:0rem;
    top:0rem;
    bottom: 1rem;
}

.swiper-modal-date{
    display:flex;
}

.swiper-modal-main-text1{
    
    position: relative;
    left:0.5rem;
    top:-0.5rem;
    bottom: 1rem;
}

.swiper-modal-main-text-date{
    
    position: relative;
    left:3rem;
    top:1rem;
    bottom: 1rem;
}

.swiper-modal-date-svg{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    top:1.75rem;
    left:2rem;
}

.swiper-modal-repeat{
    position: relative;
    width: 10rem;
    height:2rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.01rem;
    top:2.5rem;
    background-color:#fff ;
    left: 2.5rem;
}