.swiper-modal-rectangle {
    background-color: #cf83ffb1;
    width: 100%;
    border-radius: 2rem;
    height: 25rem;
}

.swiper-modal-inner {
    background-color: white;
    width: 100%;
    border-radius: 2rem 2rem 0rem 0rem;
}

.swiper-modal-activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-modal-image {
    height: 75%;
    width: 3rem;
}

.swiper-modal-image-main {
    position: relative;
    top: 4.5rem;
    left: 4rem;
    height: 35%;
    width: 50%;
}

.swiper-modal-activity-title {
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 2rem;
    margin-bottom: 0.5rem;
}

.swiper-modal-activity-title1 {
    font-size: 0.8rem;
    text-align: left;
    position: relative;
    white-space: nowrap;
    font-family: 'Roboto Condensed', sans-serif;
    top: -0.5rem;
    padding-left: 3rem;
    right: 3.5rem;
}

.swiper-modal-description {
    position: relative;
    width: 13rem;
    height: 4rem;
    border-radius: 0.75rem;
    border-style: solid;
    border-width: 0.01rem;
    top: 1rem;
    left: 1rem;
}

.swiper-modal-main-text {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    left: 0rem;
    top: 0rem;
    bottom: 1rem;
}

.swiper-modal-date {
    display: flex;
}

.swiper-modal-main-text1 {

    position: relative;
    left: 0.5rem;
    top: -0.5rem;
    bottom: 1rem;
}

.swiper-modal-main-text-date {

    position: relative;
    left: 3rem;
    top: 1rem;
    bottom: 1rem;
}

.swiper-modal-date-svg {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    top: 1.75rem;
    left: 2rem;
}

.swiper-modal-repeat {
    position: relative;
    width: 10rem;
    height: 2rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.01rem;
    top: 2.5rem;
    background-color: #fff;
    left: 2.5rem;
}

.activity-cardstack-card-container,
.activity-history-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 100%;
    height: 80vh;
    padding-top: 0.6rem;
}

.activity-history-empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    font-size: 1.1rem;
    font-weight: bolder;
}

.activity-cardstack-card-container>img {
    width: 50%;
}

.repeat-button {
    background-color: #fff;
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 0.6rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-cardstack-card-description-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 0.6rem;
    height: 50%;
}

.activity-cardstack-card-description {
    font-size: 1rem;
    font-weight: normal;
    border: 1px black solid;
    border-radius: 0.6rem;
    padding: 1rem;
    width: 80%;
    overflow: scroll;
}

.activity-cardstack-date-container {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.activity-cardstack-date-container>div {
    margin-left: 1rem;
}

.activity-cardstack-location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.activity-cardstack-location>p {
    margin-left: 0.5rem;
}

.activity-cardstack-category-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0.5rem 0;
}

.activity-cardstack-ellipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.activity-cardstack-category-container img {
    width: 50px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.cardstack-card-text {
    font-size: 1.05rem;
}

.cardstack-card-date {
    font-size: 1.2rem;
}

.activity-cardstack-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}