.activity-card-stack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.activity-cards-count {
    display: flex;
    width: 50%;
    padding: 0.3rem;
}

.activity-card-stack-heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}