.activity-history-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: inherit;
}

.swiper {
    height: auto;
}

.activity-history-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0 0.5rem;
    /* Update this later on */
    height: 75vh;
}

.curr-day {
    background-color: #ffdfb8;
    padding: 0 6px;
    border-radius: 0.5rem;
}

.selected-day {
    border: 1px solid black;
    padding: 0 6px;
    border-radius: 0.5rem;
}