.mySwiper {
    width: 340px;
    height: 420px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-size: 22px;
    font-weight: bold;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    border-radius: 1rem;
}
 
.card-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    width: 70%;
    min-height: 80%;
    border: 0.1rem solid black;
}

.header {
    padding: 4.5rem 0rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgba(15, 13, 13, 0.66);
}

.image {
    position: relative;
    width: 100%;
}

.btngrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem 0.5rem;
}

.btn {
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    border: 0.1rem solid;
    border-radius: 1rem;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.circle {
    position: absolute;
    margin-top: -2.5rem;
    margin-left: calc(50% - 2.5rem);
    border: 0.1rem solid black;
    border-radius: 50%;
    width: 5rem;
    background: white;
}

.react-card-flip {
    width: 100%;
}

.react-card-flipper {
    height: 60vh !important;
}

.react-card-front, .react-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}