.mySwiper {
    width: 100vw;
    height: 60vh;
}

.swiper-slide {
    margin-left: 50%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
    border-radius: 1rem;
    background: #b886c1;
}
 
.card-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
    width: 80%;
    height: 80%;
    border: 0.1rem solid black;
}

@media (max-width: 630px) {
    .card-content {
        width: 60% !important;
    }
}

@media (max-width: 421px) {
    .card-content {
        width: 70% !important;
    }
}

@media (max-width: 335px) {
    .card-content {
        width: 90% !important;
    }
}

.header {
    padding: 4.5rem 0rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgba(15, 13, 13, 0.66);
}

.image {
    position: relative;
    width: 100%;
}

.btngrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem 0.5rem;
}

.btn {
    height: 3rem;
    width: 45%;
    font-size: 1rem;
    border: 0.1rem solid;
    border-radius: 1rem;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
 
.circle {
    position: absolute;
    margin-top: -2rem;
    margin-left: calc(50% - 2.5rem);
    border: 0.1rem solid black;
    border-radius: 50%;
    width: 5rem;
    background: white;
}