.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFDFB8;
    height: 100vh;
}

.input-container {
    display: flex;
    background-color: #FFCF85;
    width: 30%;
    height: 70vh;
    border-radius: 1rem;
    box-shadow: 1px 0px 15px 20px #FFCF85;
}

.username-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.username-input-container, .privacy-container, .submit-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.5rem;
}

.username-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
}

.privacy-container {
    align-items: flex-start !important;
    color:black;
    font-weight: bolder;
    height: auto;
}

.submit-container {
    justify-content: center;
}

.username-input {
    width: 80%;
    height: 4rem;
    border-radius: 0.2rem;
    outline: none;
    font-size: 1.8rem;
    background-color: #ffffff;
}

.username-input::placeholder {
    font-size: 1.7rem;
    color: black;
}

.privacy-checkbox {
    cursor: pointer;
    margin-right: 0.2rem;
}

.privacy-checkbox:focus {
    background-color: #F43CF9;
}

.submit {
    outline: none;
    cursor: pointer;
    width: 80%;
    height: 3rem;
}

.details-section {
    width: 60%;
    overflow: scroll;
}

.about-us {
    margin: 1rem 1rem 0rem;
    background-color: #e5e5e5;
    padding: 1rem;
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    .input-container {
        flex-direction: column;
        width: 80%;
        height: 80vh;
        overflow: scroll;
    }

    .username-section, .details-section {
        width: 100%;
        height: 100%;
    }

    .username-input-container {
        height: 20%;
    }

    .username-input-container, .privacy-container {
        margin-top: 3rem;
    }

    .about-us:nth-child(4) {
        margin-bottom: 2rem;
    }

    .username-input::placeholder {
        font-size: 1.3rem;
    }

    .details-section {
        overflow: unset;
    }
}