.gameboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.gboard-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gboard-img {
    width: 80%;
    height: 60vh;
    border-radius: 1rem;
    z-index: 1;
}

#game-board {
    position: relative;
    width: 100%;
    height: 55vh;
}
