@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", Courier, monospace;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

body {
    background-color: #ffdfb8;
    /* To prevent reload upon scroll  */
    overscroll-behavior-y: contain;
}
